.menu-mobile-nav{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.2);
  height: 4.5rem;
  width: 100%;
  z-index: 999;
  border-radius: .8rem .8rem 0rem 0rem;
  background: #0f0f0f;

  .menu-mobile-menu{
    display: flex;
    gap: 1rem;

    .links{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .active{
    color: #f76cff;
  }
  
  @media (min-width: 1024px) {
    display: none;
  }
}